<div class="flex-grow">
  <h1 class="mb-6 text-xl font-bold text-stone-800 text-center">Sign in</h1>

  <%= form_with url: session_url, builder: CustomFormBuilder, class: "space-y-6 max-w-lg ring-1 ring-black/5 ring-inset p-6 md:p-12 rounded-2xl relative z-10 bg-white" do |form| %>
    <div>
      <%= form.label :email_address, "Email" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email", value: params[:email_address] %>
    </div>

     <div data-controller="password-visibility">
  <%= form.label :password, "Password" %>
  <div class="relative">
    <%= form.password_field :password, 
        required: true, 
        autocomplete: "current-password", 
        data: { password_visibility_target: "input" }, 
        spellcheck: false %>
    
    <button type="button" 
            data-action="password-visibility#toggle" 
            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-600 focus:outline-none focus:text-gray-600 transition-colors duration-200">
      <span data-password-visibility-target="icon" class="w-5 h-5">
        <%= lucide_icon "eye", class: "w-5 h-5" %>
      </span>
      <span data-password-visibility-target="icon" class="hidden w-5 h-5">
        <%= lucide_icon "eye-off", class: "w-5 h-5" %>
      </span>
    </button>
  </div>
</div>

    <div class="flex flex-col items-start gap-4 sm:flex-row sm:items-center sm:justify-between">
      <%= form.submit "Sign in", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-primary hover:opacity-80 text-white inline-block font-medium cursor-pointer" %>

      <%= link_to "Forgot password?", new_password_path, class: "text-sm text-stone-600 underline hover:text-stone-800 hover:no-underline" %>
    </div>
    <p class="text-sm text-stone-600">
      Don't have an account? 
      <%= link_to "Sign up", new_registration_path, class: "text-sm text-primary underline hover:text-stone-800 hover:no-underline" %>
    </p>
  <% end %>
</div>
<div class="w-full absolute md:relative md:w-[50%] left-0 h-full flex-grow rounded-none md:rounded-4xl ring-1 ring-black/5 ring-inset morning-haze ">

