<div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
  <div class="flex items-center justify-between">
    <p class="text-muted-foreground text-sm"><%= title %></p>
    <span class="flex items-center gap-1 text-xs px-3 py-1 border rounded-lg font-medium">
      <%= lucide_icon("trending-up", class: "w-4 h-4") %>
      12.5%
    </span>
  </div>
  <div class="text-3xl font-semibold mt-1 mb-2"><%= count %></div>
  <div>
    <span class="flex gap-2 items-center w-full">
      <p class="text-sm"><%= data_description %></p>
      <%= lucide_icon("trending-up", class: "w-4 h-4") %>
    </span>
    <p class="text-sm text-muted-foreground"><%= description %></p>

  </div>
</div>
