<aside id="sidebar" class="w-64 py-6 pl-6 flex flex-col duration-300" data-sidebar-target="sidebar" x-data="{ 
  usersOpen: localStorage.getItem('admin-users-accordion') ? localStorage.getItem('admin-users-accordion') === 'true' : <%= controller_name == 'users' ? 'true' : 'false' %>,
  toggleUsers() {
    this.usersOpen = !this.usersOpen;
    localStorage.setItem('admin-users-accordion', this.usersOpen);
  }
}">
  <div>
    <div class="h-16 flex items-center gap-2">
      <span class="bg-gray-900 w-10 h-10 rounded-xl flex items-center justify-center">
        <%= lucide_icon("panel-left", class:"w-4 h-4 text-white") %>
      </span>
      <div>
        <p class="text-sm font-medium">Bite Habit Admin</p>
        <p class="text-xs"><%= Current.user.first_name %></p>
      </div>
      <button class="hover:bg-gray-200 w-6 h-6 flex items-center justify-center rounded-md cursor-pointer ml-auto">
        <%= lucide_icon("chevrons-up-down", class:"w-4 h-4") %>
      </button>
    </div>
    
    <nav class="space-y-2">
      <%= render SidebarLinkComponent.new(
        path: admin_dashboard_path,
        icon: "circle-gauge",
        label: "Dashboard",
        active: controller_name == "dashboard"
      ) %>
      
      <%= render SidebarAccordionComponent.new(
        icon: "user",
        label: "Users",
        open: controller_name == "users",
        controller_active: controller_name == "users"
      ) do %>
        <%= render SidebarSubLinkComponent.new(
          path: admin_users_path,
          icon: "users",
          label: "All Users",
          active: action_name == "index" && controller_name == "users" && params[:filter].blank?
        ) %>
        <%= render SidebarSubLinkComponent.new(
          path: admin_users_path(),
          icon: "git-pull-request",
          label: "Beta User request",
          active: params[:filter] == "active"
        ) %>
      <% end %>
      
      <%= render SidebarLinkComponent.new(
        path: admin_communications_path,
        icon: "send",
        label: "Communication",
        active: controller_name == "communications"
      ) %>
      
      <%= render SidebarLinkComponent.new(
        path: admin_habits_path,
        icon: "notebook",
        label: "Habits",
        active: controller_name == "habits"
      ) %>
      
      <%= render SidebarLinkComponent.new(
        path: admin_entries_path,
        icon: "target",
        label: "Entries",
        active: controller_name == "entries"
      ) %>
      
      <%= render SidebarLinkComponent.new(
        path: admin_changelog_entries_path,
        icon: "square-chart-gantt",
        label: "Changelog",
        active: controller_name == "changelog_entries"
      ) %>
      
      <%= render SidebarLinkComponent.new(
        path: admin_design_system_path,
        icon: "palette",
        label: "Design System",
        active: controller_name == "design_system"
      ) %>
    </nav>
  </div>
  
  <div class="border-t border-t-gray-200 mt-auto pt-4">
    <%= render SidebarLinkComponent.new(
      path: "https://bitehabit.app/flipper",
      icon: "flag",
      label: "Flipper",
      external: true
    ) %>

    <%= render SidebarLinkComponent.new(
      path: "https://resend.com/emails",
      icon: "mail",
      label: "Resend",
      external: true
    ) %>
    
    <%= render SidebarLinkComponent.new(
      path: "https://bite-habit.sentry.io/issues/",
      icon: "bug",
      label: "Issues",
      external: true
    ) %>
    
    <%= render SidebarLinkComponent.new(
      path: root_path,
      icon: "smartphone",
      label: "Back to app"
    ) %>
    
    <%= render SidebarLinkComponent.new(
      path: home_path(admin: true),
      icon: "home",
      label: "Back landing"
    ) %>
    
    <%= button_to session_path, method: :delete, class: "cursor-pointer flex items-center justify-center gap-2 text-sm text-muted-foreground hover:opacity-80 transition-opacity", form_class: "rounded-md w-full p-2 mt-auto flex items-center justify-start text-primary font-semibold", data: { turbo_confirm: "Are you sure?" } do %>
      <%= lucide_icon('log-out', class: "w-4 h-4") %>
      Log out
    <% end %>
  </div>
</aside>