<%= form_with model: @user, local: true, class: "space-y-6", builder: CustomFormBuilder do |form| %>
  <div class="grid gap-4">
   <div class="my-4" data-controller="preview-image">
    <%= form.file_field :avatar,
          class: "peer sr-only",
          id: "user_avatar",
          accept: "image/*",
          data: {
            preview_image_target: "input",
            action: "change->preview-image#update"
          } %>

    <% if @user.avatar.attached? %>
      <%= form.label :avatar do %>
        <%= image_tag @user.avatar,
              id: "cropped-preview",
              class: "rounded-full w-24 h-24 object-cover mx-auto outline-stone-500 outline-2 outline-offset-2",
              data: { preview_image_target: "image" } %>
      <% end %>

      <div class="text-center mt-2">
        <%= button_tag "Remove Image", type: "button",
              class: "text-red-600 text-sm underline font-medium cursor-pointer",
              data: {
                action: "click->preview-image#remove"
              } %>

        <%= form.hidden_field :remove_avatar, value: false, data: { preview_image_target: "removeField" } %>
      </div>
    <% else %>
      <%= form.label :avatar,
            class: "overflow-hidden rounded-full w-24 h-24 border flex flex-col items-center justify-center cursor-pointer text-xs font-medium gap-1 mx-auto outline-stone-500 outline-2 outline-offset-2" do %>
        <%= lucide_icon("upload", class: "w-4 h-4") %>
        <img data-preview-image-target="image" class="hidden" />
        Upload Image
      <% end %>
    <% end %>
  </div>


    <!-- First Name -->
    <div>
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <!-- Last Name -->
    <div>
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <!-- Email -->
    <div>
      <%= form.label :email_address, "Email" %>
      <%= form.email_field :email_address %>
    </div>
    <div>
      <% images = [ "blank", "/images/gradients/gradient_1.png", "/images/gradients/gradient_2.jpg", "/images/gradients/gradient_3.png", "/images/gradients/gradient_1.png", "/images/gradients/gradient_2.jpg", "/images/gradients/gradient_3.png",] %>

      <%= form.label :card_background, "Choose a theme for your card", class:"pb-1" %>
      <%= image_radio_group(form, label: "General", images: images, group: "general") %>
    </div>
  </div>

  <!-- Submit Button -->
  <div>
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-primary hover:opacity-80 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>