<div class="mx-auto max-w-2xl space-y-8 ">
  <%= render partial: "shared/user_card", locals: {user: @user} %>


  <div>
    <div>
      <p class="text-xs text-muted-foreground font-medium ">DETAILS</p>
    </div>
    <ol class="bg-white mt-2 mb-8 p-4 rounded-2xl divide-stone-200 divide-y">
      <li class="flex justify-between py-4">
        <p class="font-medium">Email</p>
        <p class="text-muted-foreground"><%= @user.email_address %></p>
      </li>
    </ol>
  </div>

  <div>
    <div>
      <p class="text-xs text-muted-foreground font-medium ">SETTINGS</p>
    </div>
    <ol class="bg-white mt-2 mb-8 p-4 rounded-2xl divide-stone-200 divide-y">
      <%= link_to edit_user_path(@user) do %>
        <li class="flex justify-between py-4">
          <span class="flex items-center gap-2 font-medium">
            <%= lucide_icon('user-pen' , class:"w-4 h-4") %>
            Edit Profile
          </span>
          <%= lucide_icon('chevron-right' , class:"w-4 h-4 text-muted-foreground") %>
        </li>
      <% end %>
    </ol>
  </div>

  <%= button_to session_path, method: :delete, class: "flex items-center justify-center gap-2", form_class: "rounded-md w-full px-3.5 py-2.5  flex items-center justify-center text-primary font-semibold", data: { turbo_confirm: "Are you sure?" } do %>
    <%= lucide_icon('log-out') %>
    Log out
  <% end %>
</div>
