<div class="flex-grow">
  <h1 class="mb-6 text-xl font-bold text-stone-800 text-center">Sign Up</h1>

  <%= form_with model: @user,  url: registration_url, builder: CustomFormBuilder, class: "space-y-6 max-w-lg ring-1 ring-black/5 ring-inset p-6 md:p-12 rounded-2xl relative z-10 bg-white" do |form| %>
    <div class="flex flex-col items-start gap-2 ">
      <%= form.label :email_address, "Email" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email", value: params[:email_address] %>
    </div>

    <div class="flex flex-col items-start gap-2">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
    </div>

    <div class="flex flex-col items-start gap-4 sm:flex-row sm:items-center sm:justify-between">
      <%= form.submit "Sign up", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-primary hover:opacity-80 text-white inline-block font-medium cursor-pointer" %>
    </div>
       <p class="text-sm text-stone-600">
      Have an account already? 
      <%= link_to "Sign in", new_session_path, class: "text-sm text-primary underline hover:text-stone-800 hover:no-underline" %>
    </p>
  <% end %>
</div>
<div class="w-full absolute md:relative md:w-[50%] left-0 h-full flex-grow rounded-none md:rounded-4xl ring-1 ring-black/5 ring-inset bg-linear-115 from-[#fff1be] from-28% via-[#ee87cb] via-70% to-[#b060ff] sm:bg-linear-145">

</div>
