<%= form_with(model: habit, class: "contents", builder: CustomFormBuilder )  do |form| %>
  <% if habit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul class="list-disc ml-6">
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
<div data-controller="preview" data-preview-icon-svgs-value='<%= raw @icon_svgs.to_json %>'>
  <% content_for :modal_content do %>
    <%= render partial: "icons", locals:{form: form }%>
  <% end %>
  <% content_for :modal_styles do %>
    bg-background
  <% end %>


  <button 
      id="preview-icon-button" 
      type="button" 
      data-action="click->modal#open" 
      data-preview-target="preview"
      class="mx-auto font-semibold text-xl rounded-full bg-primary-foreground w-32 h-32 text-primary flex items-center justify-center"
    >
      <%= @icon_svgs[habit.icon.presence || "moon"]&.html_safe %>
    </button>


    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name  %>
    </div>

    <div class="my-5">
      <%= form.label :description %>
      <%= form.textarea :description, rows: 4  %>
    </div>

    <div class="my-5">
      <%= form.label :start_date %>
      <%= form.date_field :start_date %>
    </div>

    <div class="my-5">
      <%= form.label :duration %>
      <%= form.number_field :duration %>
    </div>

  <%= form.label :reminder, class: "inline-flex items-center mb-5 cursor-pointer" do %>
    <%= form.check_box :reminder, class: "sr-only peer" %>

    <div class="relative w-11 h-6 bg-stone-200 rounded-full peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-200
                peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
                peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px]
                after:bg-white after:border-stone-200 after:border after:rounded-full after:w-5 after:h-5 after:transition-all
                peer-checked:bg-green-500">
    </div>

    <span class="ms-3 text-sm font-medium text-gray-900">
      Enable Reminder
    </span>
  <% end %>

    <div class="inline">
      <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-primary hover:opacity-80 text-white inline-block font-medium cursor-pointer" %>
    </div>
    <%= render partial: "shared/modal" %>
  </div>
<% end %>
