<%= link_to habit, class:"w-full" do %>
  <div 
    class="bg-primary rounded-2xl p-4 " 
    style="view-transition-name: habit_<%= habit.id %>;"
  >
    <div id="<%= dom_id habit %>" class="w-full flex items-center gap-3 ">
      <span class="rounded-full w-12 h-12 text-stone-200 flex items-center justify-center ">
        <%= lucide_icon(habit.icon || "circle") %>
      </span>
      <div>
        <p class="font-semibold text-stone-200">
          <%= habit.name %>
        </p>
        <div class="text-stone-400 flex gap-2 text-sm">
          <time datetime="<%= habit.start_date%>"><%= habit.start_date.strftime("%d %B %Y")%></time>
          •
          <p><%= habit.duration%> Days</p>
        </div>
      </div>
    </div>
    <div class="w-full mt-3">
      <div class="flex w-full justify-between mb-2 text-stone-200">
        <p class="text-sm font-medium ">Progress</p>
        <p class="text-sm font-medium"><%="1/#{habit.duration} days"%> </p>
      </div>
      <div class="w-full bg-stone-200 rounded-full p-0.5">
        <div class="bg-primary h-2.5 rounded-full" style="width: <%= number_to_percentage((habit.entries.size.to_f / habit.duration) * 100, precision: 0) %>"></div>
      </div>
    </div>
  </div>
<% end %>