<% content_for :title, "Showing habit" %>

<div class="w-full min-h-screen pb-24">
  <div class="bg-primary rounded-2xl p-4" style="view-transition-name: habit_<%= @habit.id %>">
    <div id="<%= dom_id @habit %>" class="w-full space-y-2">
      <div class="flex items-center gap-3 w-full justify-between">
        <span class="rounded-full w-12 h-12 text-stone-200 flex items-center justify-center ">
          <%= lucide_icon(@habit.icon || "circle") %>
        </span>
        <button data-action="click->modal#open" class="font-semibold text-xl rounded-full bg-primary-foreground w-8 h-8 text-primary flex items-center justify-center">
          <%= lucide_icon("ellipsis")%>
        </button>
      </div>
      <div>
        <p class="font-semibold text-stone-200 text-lg">
          <%= @habit.name %>
        </p>
        <div class="text-stone-400 flex gap-2 text-sm">
          <time datetime="<%= @habit.start_date%>"><%= @habit.start_date.strftime("%d %B %Y")%></time>
          •
          <p><%= @habit.duration%> Days</p>
        </div>
      </div>
    </div>
    <div class="w-full mt-3">
      <div class="flex w-full justify-between mb-2 text-stone-200">
        <p class="text-sm font-medium ">Progress</p>
        <p class="text-sm font-medium"><%="1/#{@habit.duration} days"%> </p>
      </div>
      <div class="w-full bg-stone-200 rounded-full p-0.5">
        <div class="bg-primary h-2.5 rounded-full" style="width: <%= number_to_percentage((@habit.entries.size.to_f / @habit.duration) * 100, precision: 0) %>"></div>
      </div>
    </div>
  </div>

  <div class="my-8">
    <p class="text-xs text-muted-foreground font-medium ">DESCRIPTION</p>
    <div class="bg-white mt-2 mb-8 p-4 rounded-2xl">
      <p class="">
      <%= @habit.description%>
    </p>
    </div>
  </div>

  <div class="my-8">
    <p class="text-xs text-muted-foreground font-medium">STATS</p>
    <div class="w-full p-4 rounded-2xl bg-white flex justify-between mt-2">
      <div>
        <span class="flex items-center gap-1">
          <p class="text-2xl font-semibold"><%= @habit.calculate_streak %></p>
          <%= lucide_icon("flame", class: "w-6 h-6") %>
        </span>
        <p class="text-muted-foreground text-xs">Streak</p>
      </div>
      <div>
        <p class="text-2xl font-semibold text-center"><%= @habit.entries.size %></p>
        <p class="text-muted-foreground text-xs text-center">Check-ins</p>
      </div>
      <div class="flex flex-col items-center">
        <span class="flex items-center gap-1">
          <p class="text-2xl font-semibold"><%= mood_label(@most_mood[0]) unless @most_mood.blank? %></p>
        </span>
        <p class="text-muted-foreground text-xs">Mood</p>
      </div>
    </div>
  </div>
  <div>
    <div>
      <p class="text-xs text-muted-foreground font-medium ">DETAILS</p>
    </div>
    <ol class="bg-white mt-2 mb-8 p-4 rounded-2xl divide-stone-200 divide-y">
      <li class="flex justify-between py-4">
        <p class="font-medium">Frequency</p>
        <p class="text-muted-foreground">Daily</p>
      </li>
      <li class="flex justify-between py-4">
        <p class="font-medium">Duration</p>
        <p class="text-muted-foreground">30 days</p>
      </li>
      <li class="flex justify-between py-4">
        <p class="font-medium">Start</p>
        <p class="text-muted-foreground"><%= @habit.start_date.strftime("%d %B %Y") %></p>
      </li>
      <li class="flex justify-between py-4">
        <p class="font-medium">Ends at</p>
        <p class="text-muted-foreground">
          <%= (@habit.start_date + @habit.duration.days).strftime("%d %B %Y") %>
        </p>
      </li>
      <li class="flex justify-between py-4">
        <p class="font-medium">Daily Reminde</p>
        <% if @habit.reminder %>
        <%= lucide_icon("bell-ring", class: "text-muted-foreground") %>
        <% else %>
        <%= lucide_icon("bell-off", class: "text-muted-foreground") %>
        <% end %>
      </li>
    </ol>
  </div>
  <div>
    <div>
      <p class="text-xs text-muted-foreground font-medium ">ENTRIES</p>
    </div>
    <ol class="bg-white mt-2 mb-8 p-4 rounded-2xl divide-stone-200 divide-y">
      <% if @habit.entries.empty? %>
      <div class="flex flex-col items-center text-center py-8 space-y-4">
        <%=lucide_icon("flask-conical", "size" => "32", class:"w-8 h-8 text-muted-foreground" )%>
        <p class="font-medium text-muted-foreground max-w-[80%]">Log your first entry to start building your habit</p>
          <%= link_to new_habit_entry_path(@habit), data: {action: "click->dialog#open", turbo_frame: :drawer}, class: "sm:w-auto w-full flex items-center justify-center rounded-md px-3.5 py-2.5 bg-primary text-primary-foreground hover:opacity-80 font-medium" do %>
          <%= lucide_icon("plus", "size" => "24", class: "mr-2") %>
          Add entry
        <% end %>
      </div>
      <% else %>
        <%= turbo_frame_tag "entries" do %>
          <ul id="entries-list">
            <% @habit.entries.each do |entry| %>
              <%= render "entries/item", entry: entry %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ol>
  </div>
  <div class="bg-stone-50/80 fixed bottom-0 left-0 right-0 pb-8 px-4">
  <%= link_to new_habit_entry_path(@habit), data: {action: "click->dialog#open", turbo_frame: :drawer}, class: "sm:w-auto flex items-center justify-center rounded-md px-3.5 py-2.5 bg-primary text-primary-foreground hover:opacity-80 font-medium" do %>
    <%= lucide_icon("plus", "size" => "24", class: "mr-2") %>
    Check in
  <% end %>
  </div>


</div>

<% content_for :modal_content do %>
  <%= link_to edit_habit_path(@habit), class: "w-full sm:w-auto flex items-center justify-center rounded-md px-3.5 py-2.5 bg-primary text-primary-foreground hover:opacity-80 font-medium" do %>
    <%= lucide_icon("edit", "size" => "24", class: "mr-2") %>
    Edit
  <% end %>

  <%= button_to @habit, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full sm:w-auto flex items-center justify-center rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } do %>
    <%= lucide_icon("trash", "size" => "24", class: "mr-2") %>
    Delete
  <% end %>
<% end %>
<%= render partial: "shared/modal" %>