<nav class=" fixed bottom-0 left-0 right-0 bg-background z-50 " id="standalone-nav">
  <div class="flex items-center justify-around py-2 px-4 safe-area-pb">
    <% if Current.user %>
      <%= link_to habits_path, class: "flex flex-col items-center justify-center p-2 rounded-lg transition-colors #{current_page?(habits_path) ? 'text-primary' : 'text-muted-foreground hover:text-primary'}" do %>
        <%= lucide_icon('list', class: 'w-5 h-5 mb-1') %>
        <span class="text-xs font-medium">Habits</span>
      <% end %>
      <% if controller_name == "habits" && @habit.present? && action_name == "show"  %>
        <%= link_to new_habit_entry_path(@habit), data: {action: "click->dialog#open", turbo_frame: :drawer}, class: "flex flex-col items-center justify-center p-2 rounded-lg transition-colors #{current_page?(new_habit_path) ? 'text-primary' : 'text-muted-foreground hover:text-primary'}" do %>
          <div class="w-8 h-8 bg-primary rounded-full flex items-center justify-center text-primary-foreground mb-1">
            <%= lucide_icon('plus', class: 'w-4 h-4') %>
          </div>
          <span class="text-xs font-medium text-primary">Add Entry <span>
        <% end %>
      <% else %>
       <%= link_to new_habit_path, class: "flex flex-col items-center justify-center p-2 rounded-lg transition-colors #{current_page?(new_habit_path) ? 'text-primary' : 'text-muted-foreground hover:text-primary'}" do %>
          <div class="w-8 h-8 bg-primary rounded-full flex items-center justify-center text-primary-foreground mb-1">
            <%= lucide_icon('plus', class: 'w-4 h-4') %>
          </div>
          <span class="text-xs font-medium text-primary">Add Habit</span>
        <% end %>
      <% end %>
      <%= link_to user_path(id: Current.user.id), class: "flex flex-col items-center justify-center p-2 rounded-lg transition-colors #{current_page?(user_path(id: Current.user.id)) ? 'text-primary' : 'text-muted-foreground hover:text-primary'}" do %>
        <div class="mb-1 border-2 rounded-full #{current_page?(user_path(id: Current.user.id)) ? 'border-primary' : 'border-transparent'}">
          <%= render AvatarComponent.new(user: Current.user, size: :xs, show_status: false) %>
        </div>
        <span class="text-xs font-medium">Profile</span>
      <% end %>
    <% end %>
  </div>
</nav>