<nav class="p-4 sticky top-0 bg-background z-50 relative">
  <div class="flex items-center justify-between">
    <%=link_to @path, class: "transition-opacity flex gap-1 items-center #{@path.present? ? 'flex' : 'opacity-0'}"  do %>
      <%= lucide_icon('chevron-left')%>
      <p class="text-xs font-medium text-muted-foreground">
        <%= @title if @title.present? %>
      </p>
    <% end %> 
    <%= link_to Current.user ? habits_path : root_path, class: "font-semibold text-primary flex items-center justify-center gap-2 absolute inset-0 translate-x-[-0%] top-0 bottom-0 w-fit mx-auto" do%>
      Bite 
      <span class="flex items-center gap-[2px]" >
        <%= image_tag "/images/intern/h-icon.svg", class:"w-4 h-4"%>abit
      </span>
    <% end %>
    <div class="flex gap-4">
      <% if Current.user %>
        <%= link_to new_habit_path, class: "rounded-full w-8 h-8 bg-primary flex items-center justify-center text-primary-foreground" do %>
          <%= lucide_icon('plus') %>
        <% end %>
        <%= link_to user_path(id: Current.user.id), class: "outline-stone-500 outline-2 outline-offset-2 overflow-hidden rounded-full h-8" do %>
          <%= render AvatarComponent.new(user: Current.user, size: :sm, show_status: false) %> 
        <% end %>
      <% else %>
        <%= link_to change_log_path, class: "text-sm font-medium hover:opacity-80 text-primary flex items-center gap-1" do %>
          <%= lucide_icon("square-chart-gantt", class:"w-4 h-4 text-muted-foreground")%>
          <p>Change log</p>
        <% end %>
        <%= link_to new_session_path, class: "text-sm font-medium hover:opacity-80 text-primary flex items-center gap-1" do %>
          <%= lucide_icon("log-in", class:"w-4 h-4 text-muted-foreground")%>
          <p>Sign in</p>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>