<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Habit Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <meta name="view-transition" content="same-origin" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body 
    data-controller="dialog modal" 
    class="bg-black"
    data-transition-enter-active="transition ease-out duration-300"
    data-transition-enter-from="translate-y-full opacity-0"
    data-transition-enter-to="translate-y-0 opacity-50"
    data-transition-leave-active="transition ease-in duration-200"
    data-transition-leave-from="translate-y-0 opacity-100"
    data-transition-leave-to="translate-y-10 opacity-0"
    >
    <div id="main-content-wrapper" class="transition-transform duration-300 origin-center rounded-t-2xl overscroll-none" data-dialog-target="content">
    <main class="container mx-auto bg-background min-h-screen relative">
      <% if Current.user %>
      <nav class="p-4 flex items-center justify-between sticky top-0 border-b border-b-gray-200 bg-background z-50">
        <%= link_to habits_path do%>
          <div class="text-xl font-semibold font-pacifico text-primary flex items-center gap-2">
            <%=lucide_icon("pipette", class:"text-muted-foreground")%>
            Habit Tracker
          </div>
        <% end %>
        <div class="flex gap-4">
          <%= link_to new_habit_path, class: "rounded-full w-10 h-10 bg-primary flex items-center justify-center text-primary-foreground" do %>
            <%= lucide_icon('plus') %>
          <% end %>
          <%= link_to user_path(id: Current.user.id), class: "rounded-full w-10 h-10 bg-primary-foreground flex items-center justify-center text-primary font-semibold" do %>
            <%= lucide_icon('user') %>
          <% end %>
        </div>
      </nav>
      <% end %>
      <div class="p-4">
        <%= yield %>
      </div>
    </main>
    </div>
    <%= render partial: "shared/drawer" %>

  </body>
</html>
