<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body 
    data-controller="dialog modal" 
    class="bg-black"
    >
    <div id="main-content-wrapper" class=" bg-background transition-transform duration-300 origin-center  overscroll-none" data-dialog-target="content">
    <main class="mx-auto bg-background min-h-screen container max-w-lg relative">
      <%= render partial: "shared/pwa_prompt"%>
      <%= render partial: "layouts/navbar"%>
      <div class="p-4">
        <%= yield %>
      </div>
      <%= render partial: "layouts/bottom_navigation"%>    
    </main>
    </div>
    <%= render partial: "shared/drawer" %>
    <%= render 'shared/flash' %>

  </body>
</html>
