<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bite Habit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <meta name="view-transition" content="same-origin" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body 
    data-controller="dialog modal" 
    class="bg-black"
    data-transition-enter-active="transition ease-out duration-300"
    data-transition-enter-from="translate-y-full opacity-0"
    data-transition-enter-to="translate-y-0 opacity-50"
    data-transition-leave-active="transition ease-in duration-200"
    data-transition-leave-from="translate-y-0 opacity-100"
    data-transition-leave-to="translate-y-10 opacity-0"
    >
    <div id="main-content-wrapper" class="transition-transform duration-300 origin-center rounded-t-2xl overscroll-none" data-dialog-target="content">
    <main class="container mx-auto bg-background min-h-screen relative">
      <%= render partial: "shared/pwa_prompt"%>
      <%= render partial: "layouts/navbar"%>
      <div class="p-4">
        <%= yield %>
      </div>
    </main>
    </div>
    <%= render partial: "shared/drawer" %>
    <%= render 'shared/flash' %>

  </body>
</html>
